<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/css/skin.css">
  <script type="text/javascript" src="assets/js/index.js"></script>
  <title>Facebook Pazzle</title>
</head>
<body>
  <div class="wrapper">
    <div class="labels">
      <ul>
        <li>9:00 <span>AM</span></li>
        <li>9:30</li>
        <li>10:00 <span>AM</span></li>
        <li>10:30</li>
        <li>11:00 <span>AM</span></li>
        <li>11:30</li>
        <li>12:00 <span>AM</span></li>
        <li>12:30</li>
        <li>1:00 <span>PM</span></li>
        <li>1:30</li>
        <li>2:00 <span>PM</span></li>
        <li>2:30</li>
        <li>3:00 <span>PM</span></li>
        <li>3:30</li>
        <li>4:00 <span>PM</span></li>
        <li>4:30</li>
        <li>5:00 <span>PM</span></li>
        <li>5:30</li>
        <li>6:00 <span>PM</span></li>
        <li>6:30</li>
        <li>7:00 <span>PM</span></li>
        <li>7:30</li>
        <li>8:00 <span>PM</span></li>
        <li>8:30</li>
        <li>9:00 <span>PM</span></li>
      </ul>
    </div>
    <div class="board-wrapper">
      <div class="board" id="container">
        <div id="eventTamplate" class="event">
          <div class="event-inner">
            <h3 class="event-name">{{name}}</h3>
            <span class="event-location">{{location}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var events = [{
      id: 1, 
      start: 30, 
      end: 160,
      name: 'Starts at 9:30AM and ends at 11:30AM'
    }, {
      id: 2, 
      start: 540, 
      end: 600,
      name: 'Starts at 6:00PM and ends at 7:00PM'
    }, {
      id: 3, 
      start: 560, 
      end: 620,
      name: 'Starts at 6:20PM and ends at 7:20PM'
    }, {
      id: 4, 
      start: 610, 
      end: 670,
      name: 'Starts at 7:10PM and ends at 8:10PM' 
    }]; 

    // // Debug events input config
    // var events = [{
    //   start: 50, 
    //   end: 350,
    // }, {
    //   start: 100, 
    //   end: 190,
    // }, {
    //   start: 150, 
    //   end: 250,
    // }, {
    //   start: 200, 
    //   end: 290,
    // }, {
    //   start: 260, 
    //   end: 390,
    // }, {
    //   start: 400, 
    //   end: 490,
    // }, {
    //   start: 500, 
    //   end: 590,
    // }];
var events = [
{id : 1, start : 60, end : 120},  // an event from 10am to 11am
{id : 2, start : 100, end : 240}, // an event from 10:40am to 1pm
{id : 3, start : 700, end : 720} // an event from 8:40pm to 9pm 
];
    scheduler.init({
      'events': events,
      'containerID': 'container',
      'containerWidth': 600,
      'containerHeight': 720,
      'eventTemplateID': 'eventTamplate'
    });
  </script>
</body>
</html>