body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: tahoma, verdana, arial;
  color: #333;
}
.wrapper {
  padding: 10px 0 10px 50px;
}

.labels {
  float: left;
  padding-right: 10px;
}
.labels ul {
  padding-left: 0;
  margin: 0;
}
.labels li {
  list-style-type: none;
  text-align: right;
  line-height: 30px;
  height: 30px;
  font-weight: normal;
  font-size: 10px;
  color: gray;
}
.labels li:nth-child(2n+1) {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.labels li span {
  font-weight: normal;
  font-size: 10px;
  color: gray;  
}

.board-wrapper {
  height: 720px;
  width: 600px;
  margin: 15px 0;
  padding: 0 10px;
  border-left: 1px solid #D5D5D5;
  background: #ECECEC;
  float: left;
}
.board {
  position: relative;
}

.event {
  position: absolute;
  background: #4f6da1;
}
.event-inner {
  background: white;
  border: 1px solid #D5D5D5;
  border-left: none;
  margin-left: 5px;
  padding: 10px;
  height: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;   
}
.event .event-name {
  margin: 0;
  padding: 0;
  color: #4f6da1;
  font-size: 12px;
  line-height: 12px;
}
.event .event-location {
  font-size: 10px;
  line-height: 15px;
  color: gray;
}